build/
dist/
torchvision.egg-info/
torchvision/version.py
*/**/__pycache__
*/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/*~
*~
docs/build
.coverage
htmlcov
.*.swp
*.so*
*.dylib*
*/*.so*
*/*.dylib*
*.swp
*.swo
gen.yml
.mypy_cache
.vscode/
*.orig
