/* This rule (and possibly this entire file) should be removed once
https://github.com/pytorch/pytorch_sphinx_theme/issues/125 is fixed.

We override the rule so that the links to the notebooks aren't hidden in the
gallery examples. pytorch_sphinx_theme is supposed to customize those links so
that they render nicely (look at the nice links on top of the tutorials
examples) but it doesn't work for repos that are not the tutorial repo, and in
torchvision it just hides the links. So we have to put them back here */
article.pytorch-article .sphx-glr-download-link-note.admonition.note,
article.pytorch-article .reference.download.internal, article.pytorch-article .sphx-glr-signature {
  display: block;
}