name: Update viable/strict

on:
  schedule:
    - cron: 10,40 * * * *
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  do_update_viablestrict:
    uses: pytorch/test-infra/.github/workflows/update-viablestrict.yml@main
    with:
      repository: pytorch/vision
      required_check: "build,cmake,lint,Build Linux,Build M1,Build Macos,Tests on Linux,Tests on macOS,Docs,Lint"
    secrets:
      ROCKSET_API_KEY: ${{ secrets.ROCKSET_API_KEY }}
      GITHUB_TOKEN : ${{ secrets.VISION_GITHUB_DEPLOY_KEY }}
